@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

:root {
    --color-green: #586F6B;
    --color-gray-dark: #B8B8AA;
    --color-green-pale: #E3E3D4;
    --color-white: #F5F5F5;
    --font-goldman: Goldman, cursive;
    --radius-2: 20px;
    --radius-1: 15px;

    --margin-right: 54px;
    --margin-left: 44px;
}

.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 70%;
}
.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: var(--radius-2);
}